In [3]:
import pandas as pd
from category_encoders import BinaryEncoder

In [4]:
data = {'Color': ['Yellow', 'Yellow', 'Blue', 'Yellow', 'Red', 'Yellow', 'Red', 'Red', 'Yellow', 'Blue'],
       'Target': [0,1,1,1,1,0,1,0,1,0]
       }
dataset = pd.DataFrame(data)

In [5]:
dataset.head()

    Color  Target
0  Yellow       0
1  Yellow       1
2    Blue       1
3  Yellow       1
4     Red       1

In [18]:
x_train = dataset.drop('Target', axis=1)
y_train = dataset['Target']

In [21]:
binary = BinaryEncoder()

In [23]:
result_binary_columns = binary.fit_transform(x_train, y_train)

In [48]:
color0 = result_binary_columns['Color_0']
color1 = result_binary_columns['Color_1']

In [53]:
new_dataset = pd.DataFrame({'color0':color0,'color1':color1,'class':y_train})

In [55]:
new_dataset.head()

   color0  color1  class
0       0       1      0
1       0       1      1
2       1       0      1
3       0       1      1
4       1       1      1