In [2]:
import pandas as pd

In [3]:
data = {'Color': ['Yellow', 'Yellow', 'Blue', 'Yellow', 'Red', 'Yellow', 'Red', 'Red', 'Yellow', 'Blue'],
       'Target': [0,1,1,1,1,0,1,0,1,0]
       }
dataset = pd.DataFrame(data)

In [4]:
dataset.head()

    Color  Target
0  Yellow       0
1  Yellow       1
2    Blue       1
3  Yellow       1
4     Red       1

In [5]:
# k hot encoding
data_k = pd.get_dummies(dataset)

In [7]:
data_k.head()

   Target  Color_Blue  Color_Red  Color_Yellow
0       0           0          0             1
1       1           0          0             1
2       1           1          0             0
3       1           0          0             1
4       1           0          1             0

In [8]:
# k - 1 hot encoding, drops the first
data_k_one = pd.get_dummies(dataset,drop_first=True)

In [9]:
data_k_one.head()

   Target  Color_Red  Color_Yellow
0       0          0             1
1       1          0             1
2       1          0             0
3       1          0             1
4       1          1             0