In [3]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [4]:
data = {'Color': ['Yellow', 'Yellow', 'Blue', 'Yellow', 'Red', 'Yellow', 'Red', 'Red', 'Yellow', 'Blue'],
       'Target': [0,1,1,1,1,0,1,0,1,0]
       }
dataset = pd.DataFrame(data)

In [5]:
dataset.head()

    Color  Target
0  Yellow       0
1  Yellow       1
2    Blue       1
3  Yellow       1
4     Red       1

In [6]:
le = LabelEncoder()

In [9]:
dataset.Color = le.fit_transform(dataset.Color)

In [10]:
dataset.head()

   Color  Target
0      2       0
1      2       1
2      0       1
3      2       1
4      1       1