In [7]:
from sklearn.impute import MissingIndicator
import numpy as np
import pandas as pd

In [3]:
indicator = MissingIndicator(error_on_new=True, features='missing-only')

In [8]:
data = {'gender': ['Male', np.nan, 'Male', 'Female', np.nan, 'Male', 'Female']}
dataset = pd.DataFrame(data)

In [9]:
dataset.head()

   gender
0    Male
1     NaN
2    Male
3  Female
4     NaN

In [10]:
indicator.fit(dataset)

MissingIndicator()

In [11]:
print(dataset.columns[indicator.features_])

Index(['gender'], dtype='object')

In [12]:
temporary = indicator.transform(dataset)

In [15]:
missingValuesColumn = pd.DataFrame(temporary)
missingValuesColumn

       0
0  False
1   True
2  False
3  False
4   True
5  False
6  False

In [16]:
new_dataset = pd.concat([dataset, missingValuesColumn], axis=1)
new_dataset

   gender      0
0    Male  False
1     NaN   True
2    Male  False
3  Female  False
4     NaN   True
5    Male  False
6  Female  False